<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cnrapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.CNRApp">
        <activity android:name=".DoctorDetailActivity"></activity>
        <activity android:name=".DoctorListActivity" />
        <activity android:name=".eHealthCategoryActivity" />
        <activity android:name=".AboutPersonActivity" />
        <activity android:name=".EnquiryFormActivity" />
        <activity android:name=".eCommerceItemDetailActivity" />
        <activity android:name=".eCommerceItemActivity" />
        <activity android:name=".BlogDetailActivity" />
        <activity android:name=".eCommerceActivity" />
        <activity android:name=".BlogItemActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>